[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[packages]
six = ">=1.5"
python-dateutil = "*"
"enum34" = "*"
numpy = ">=1.7.1"
scipy = ">=0.12.0"
astropy = ">=1.1.1"
matplotlib = ">=1.2.0,!=2.1.0,!=2.1.1"
lscsoft-glue = ">=1.55.2"
sphinx = ">= 1.6.1"
numpydoc = "*"
sphinx-bootstrap-theme = ">= 0.6"
sphinxcontrib-programoutput = "*"
sphinx-automodapi = "*"
requests = "*"
pykerberos = "*"
pyrxp = "*"
pytest = ">= 3.1"
coveralls = "*"
freezegun = "*"
sqlparse = "*"
"bs4" = "*"
"h5py" = ">= 1.3"
pymysql = "*"
dqsegdb = "*"
"0bbbf3b" = {file = "https://github.com/ligovirgo/trigfind/archive/v0.4.tar.gz"}
ligo = {git = "https://github.com/duncanmmacleod/ligo.org.git"}
sqlalchemy = "*"
"psycopg2" = "*"
pandas = "*"
ipython = "*"
jupyter = "*"
jupyterlab = "*"
tqdm = "*"

[requires]
python_version = "3.5"
